<% provide(:title, 'Home') %>
<h1>The platform to measure social good</h1>
<p>
  Humanity is at risk!
  Why you ask?
  Global warming, uncompassionate capitalism, social inequity,etc.
  Hence, time for us to change our ways, even by doing the little things
  This is the only platform that recognizes,promotes, and measures
  one’s goodness according to his/her actions.
  This platform is also instrumental for organization/businesses to
  advertise fair business practices.
</p>
